body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.filters {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.legend {
  position: fixed;
  bottom: 40px;
  left: 10px;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 2;
  padding: 7px;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(48, 48, 48, 0.7);
}

.legend__item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 200ms linear;
}

.legend__item:hover {
  opacity: 0.75;
}

.legend__item:first-child {
  margin-bottom: 10px;
}

.legend__pic {
  height: 40px;
  object-fit: contain;
}

.legend__text {
  font-family: sans-serif;
  margin: 0;
  font-weight: 600;
}

.mapboxgl-ctrl-geocoder {
  max-width: calc(100vw - 100px) !important;
}

#map {
  height: 100vh;
  width: 100vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.primary-popup {
  animation: fadeIn 700ms ease-out forwards;
}

.mapboxgl-popup-content {
  position: relative;
  width: 300px;
  background-color: #fff;
  border-radius: 12px !important;
  overflow: hidden;
  padding: 12px 15px 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.popup__img {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #000;
  object-fit: cover;
}

.popup__img_secondary {
  margin-bottom: 14px;
}

.popup__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__content {
  max-width: 205px;
}

.popup__content_secondary {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.popup__title {
  font-family: "Jomhuria", sans-serif;
  margin: 0;
  line-height: 0.5;
  text-transform: uppercase;
  font-size: 30px;
}

.popup__title_secondary {
  margin-bottom: 10px;
}

.popup__city {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  height: 14px;
  margin: 0 0 11px;
}

.popup__link-box {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.popup__link {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  margin: 0 0 5px;
  text-decoration: none;
}

.popup__link_center {
  width: 100%;
  justify-content: center;
}

.popup__link_blue {
  color: #0059ff;
}

.popup__link_black {
  color: #000;
}

.popup__logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.popup__logo_secondary {
  display: block;
  margin: 0 auto;
}

.popup__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(102, 102, 102, 0.9) 100%
  );
  font-size: 12px;
  line-height: 1.2;
  border-radius: 6px;
  margin: 7px;
  text-align: center;
  padding: 3px;
}

.popup__slider-btn {
  position: absolute;
  top: 50%;
  padding: 2px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transform: translateY(-50%);
}

.popup__slider-btn_left {
  right: 100%;
}

.popup__slider-btn_right {
  left: 100%;
}

.location-popup .mapboxgl-popup-content {
  padding: 4px;
  width: auto;
}

.popup__slider-arrow {
  height: 100%;
  width: 100%;
}

.slider-wrapper {
  position: relative;
  margin: 0 7px;
}

.swiper {
  position: relative;
  height: 65px;
}

.mini-swiper {
  overflow: hidden;
  border-radius: 8px;
  font-size: 0px !important;
  margin-bottom: 15px;
}

.mini-swiper .swiper-slide {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #000;
  height: 150px;
}

.mini-swiper .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper .swiper-slide img {
  height: 100%;
  border-radius: 11px;
  border: 1px solid #000;
  object-fit: cover;
  box-sizing: border-box;
  width: 100%;
}

.popup__icon {
  height: 15px;
  width: 15px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3420px);
  }
}

.marquee {
  position: absolute;
  width: 300px;
  min-width: 300px;
  display: flex;
  gap: 20px;
  background-color: #fde508;
  font-weight: 800;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2px;
  font-family: Tahoma, sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.marque_secondary {
  font-size: 8px;
  line-height: 1.1;
  background-color: #08fd19;
  letter-spacing: 0;
}

.marquee-content {
  animation: scroll 120s linear infinite;
  display: inline-block;
  margin: 0;
}

.marque1 {
  top: 30px;
  left: 70px;
  transform: rotate(42deg);
  z-index: 9;
}

.marque2 {
  top: 30px;
  left: 70px;
  transform: rotate(20deg);
  z-index: 10;
}

.marque3 {
  transform: rotate(20deg);
  left: -10px;
  bottom: -11px;
}

.marque4 {
  transform: rotate(44deg);
  left: -61px;
  bottom: -15px;
}

.marque5 {
  transform: rotate(-44deg);
  right: -55px;
  bottom: -15px;
}

.marque6 {
  transform: rotate(-20deg);
  right: -55px;
  bottom: 10pxpx;
}

.popup__stripes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  object-fit: contain;
  width: 100%;
}

.popup__stripes3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}

.hidden {
  display: none;
}

/* Styles when swiper opened */
body.swiper-opened .slider-wrapper {
  position: fixed !important;
  top: 50px !important;
  left: 0;
  z-index: 1;
  margin: 0;
  height: calc(100vh - 100px);
  width: calc(100vw - 160px);
  max-width: 1300px;
  transform: translate(-50%, -100px);
}

body.swiper-opened .swiper {
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}
body.swiper-opened .mapboxgl-popup {
  transform: none !important;
  top: 100px;
  left: 50%;
  max-width: 100% !important;
}

body.swiper-opened .popup__slider-btn {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15) !important;
  padding: 15px;
}

body.swiper-opened .swiper .swiper-slide img {
  object-fit: contain;
  border: 0;
}

body.swiper-opened .popup__slider-btn_left {
  right: calc(100% + 5px);
}

body.swiper-opened .popup__slider-btn_right {
  left: calc(100% + 5px);
}

body.swiper-opened .mapboxgl-popup * {
  font-size: 0 !important;
  background-color: transparent;
  box-shadow: none;
}

body.swiper-opened .mapboxgl-popup-tip {
  opacity: 0;
}

body.swiper-opened .popup__text,
body.swiper-opened .popup__img,
body.swiper-opened .mini-swiper,
body.swiper-opened .popup__icon,
body.swiper-opened .popup__logo,
body.swiper-opened .popup__stripes {
  display: none;
}

/***************************** Media 470px  **********************************/

@media screen and (max-width: 470px) {
  .mapboxgl-popup-content {
    width: 240px !important;
    border-radius: 7px !important;
  }

  .location-popup .mapboxgl-popup-content {
    width: auto !important;
    min-width: 50px;
    text-align: center;
  }

  .popup__img {
    height: 120px;
    border-radius: 5px;
  }

  .marque1 {
    top: 40px;
    left: 50px;
  }

  .marque2 {
    top: 40px;
    left: 70px;
  }

  .mini-swiper {
    border-radius: 5px;
  }

  .mini-swiper .swiper-slide {
    width: 100%;
    height: 120px;
  }

  .popup__content {
    max-width: 175px;
  }

  .popup__content_secondary {
    max-width: 100%;
  }

  .popup__img_secondary {
    margin-bottom: 8px;
  }

  .popup__title {
    font-size: 26px;
  }

  .popup__title_secondary {
    margin-bottom: 8px;
  }

  .popup__city {
    font-size: 12px;
    height: 12px;
  }

  .popup__link {
    font-size: 10px;
  }

  .popup__logo {
    height: 80px;
    width: 65px;
  }

  .popup__logo_secondary {
    width: 90px;
    height: 90px;
  }

  .popup__text {
    font-size: 10px;
    margin: 4px;
    padding: 2px;
  }

  .swiper {
    height: 55px;
  }

  .swiper .swiper-slide img {
    border: 0;
  }

  .popup__icon {
    height: 12px;
    width: 12px;
  }

  /* Styles when swiper opened */
  body.swiper-opened .slider-wrapper {
    top: 20px !important;
    height: calc(100vh - 40px);
    width: calc(100vw - 30px);
  }

  body.swiper-opened .popup__slider-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9) !important;
    padding: 8px;
    z-index: 1;
  }

  body.swiper-opened .popup__slider-btn_left {
    right: calc(100% - 30px);
  }

  body.swiper-opened .popup__slider-btn_right {
    left: calc(100% - 30px);
  }
}
