body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#map {
  height: 100vh;
  width: 100vw;
}

.mapboxgl-popup-content {
  position: relative;
  width: 300px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  padding: 12px 15px 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.popup__img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #000;
  object-fit: cover;
}

.popup__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__title {
  font-family: "Jomhuria", sans-serif;
  margin: 0;
  line-height: 0.4;
  text-transform: uppercase;
  font-size: 30px;
}

.popup__city {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  height: 14px;
  margin: 0 0 11px;
}

.popup__link {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  margin: 0 0 5px;
  text-decoration: none;
}

.popup__link_blue {
  color: #0059ff;
}

.popup__logo {
  height: 100px;
  width: 80px;
  object-fit: cover;
}

.popup__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(102, 102, 102, 0.9) 100%
  );
  font-size: 12px;
  line-height: 1.2;
  border-radius: 6px;
  margin: 7px;
  text-align: center;
  padding: 3px;
}

.popup__slider-btn {
  position: absolute;
  top: 50%;
  padding: 2px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transform: translateY(-50%);
}

.popup__slider-btn_left {
  right: 100%;
}

.popup__slider-btn_right {
  left: 100%;
}

.popup__slider-arrow {
  height: 100%;
  width: 100%;
}

.slider-wrapper {
  position: relative;
  margin: 0 7px;
}

.swiper {
  position: relative;
  height: 65px;
  font-size: 0 !important;
}

.swiper-slide img {
  height: 100%;
  border-radius: 11px;
  border: 1px solid #000;
  object-fit: cover;
  box-sizing: border-box;
  width: 100%;
}

.popup__icon {
  height: 15px;
  width: 15px;
}

.popup__stripes {
  position: absolute;
  top: 0;
  right: 0;
  height: 120px;
  pointer-events: none;
}

.hidden {
  display: none;
}

/* Styles when swiper opened */
body.swiper-opened .slider-wrapper {
  position: fixed !important;
  top: 50px !important;
  left: 0;
  z-index: 1;
  margin: 0;
  height: calc(100vh - 100px);
  width: calc(100vw - 160px);
  max-width: 1300px;
  transform: translate(-50%, -100px);
}

body.swiper-opened .swiper {
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}
body.swiper-opened .mapboxgl-popup {
  transform: none !important;
  top: 100px;
  left: 50%;
  max-width: 100% !important;
}

body.swiper-opened .popup__slider-btn {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15) !important;
  padding: 15px;
}

body.swiper-opened .swiper-slide img {
  object-fit: contain;
  border: 0;
}

body.swiper-opened .popup__slider-btn_left {
  right: calc(100% + 5px);
}

body.swiper-opened .popup__slider-btn_right {
  left: calc(100% + 5px);
}

body.swiper-opened .mapboxgl-popup * {
  font-size: 0 !important;
  background-color: transparent;
  box-shadow: none;
}

body.swiper-opened .mapboxgl-popup-tip {
  opacity: 0;
}

body.swiper-opened .popup__text,
body.swiper-opened .popup__img,
body.swiper-opened .popup__icon,
body.swiper-opened .popup__logo,
body.swiper-opened .popup__stripes {
  display: none;
}

/***************************** Media 470px  **********************************/

@media screen and (max-width: 470px) {
  .mapboxgl-popup-content {
    width: 240px;
    border-radius: 7px !important;
  }

  .popup__img {
    height: 120px;
    border-radius: 5px;
  }

  .popup__title {
    font-size: 26px;
  }

  .popup__city {
    font-size: 12px;
    height: 12px;
  }

  .popup__link {
    font-size: 10px;
  }

  .popup__logo {
    height: 80px;
    width: 65px;
  }

  .popup__text {
    font-size: 10px;
    margin: 4px;
    padding: 2px;
  }

  .swiper {
    height: 55px;
  }

  .swiper-slide img {
    border: 0;
  }

  .popup__icon {
    height: 12px;
    width: 12px;
  }

  .popup__stripes {
    position: absolute;
    top: 0;
    right: 0;
    height: 90px;
    pointer-events: none;
  }

  /* Styles when swiper opened */
  body.swiper-opened .slider-wrapper {
    top: 20px !important;
    height: calc(100vh - 40px);
    width: calc(100vw - 30px);
  }

  body.swiper-opened .popup__slider-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9) !important;
    padding: 8px;
    z-index: 1;
  }

  body.swiper-opened .popup__slider-btn_left {
    right: calc(100% - 30px);
  }

  body.swiper-opened .popup__slider-btn_right {
    left: calc(100% - 30px);
  }
}
